#app {
  margin: 3rem auto 1.5rem;
  overflow: hidden;

  .button {
    .material-icons {
      margin-right: 0.1rem;
      font-size: larger;
    }
  }

  .autoplay {
    span {
      display: flex;
    }
  }

  #matchfield {
    table {
      td {
        padding: 0;
        border: 1px solid rgba(200, 200, 200, 0.1);
        text-align: center;
        position: relative;
        height: 0.7rem;
        width: 0.7rem;
        line-height: 0;

        &.alive {
          background: $primary;
        }
      }
    }
  }

  .load-preset {
    margin: 0.3rem;
  }

  label[for="matchfield-limited"] {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    input {
      margin-right: 0.5rem;
    }

    small {
      font-size: 11px;
      margin-left: 0.5rem;
    }
  }

  .generation-count {
    font-size: medium;
    float: right;
    margin-top: 0.8rem;
  }

  .restart-game {
    float: right;
    position: relative;
    top: 0.6rem;
    margin-left: 1.3rem;
    vertical-align: middle;
    padding-bottom: 1.45em;

    .material-icons {
      position: relative;
      top: 1px;
      margin-right: 0.3rem;
    }
  }

  .columns:not(:last-child) {
    margin-bottom: 0;
  }

  .collapse-trigger {
    opacity: 0.3;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  .controls:hover {
    .keyboard-shortcut {
      opacity: 1;
    }
  }

  .keyboard-shortcut {
    opacity: 0.2;
    margin-top: 0.5rem;
    font-size: small;
    transition: 0.3s all ease;

    .tag {
      padding-bottom: 0.15rem;
    }
  }

  .is-flex output {
    align-self: flex-end;
  }

  .manual {
    margin-top: 1.1rem;
  }

  #fullscreen-hint {
    right: 2rem;
    bottom: -10rem;
    position: fixed;
    transition: 0.85s ease all;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3px);

    flex: 1;
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;

    .button {
      margin-left: 1.5rem;
    }

    &.is-active {
      bottom: 2rem;
    }
  }

  #option-header {
    align-items: center;
    margin-bottom: 2rem;

    .spacer {
      flex: 1;
    }

    .checkbox {
      user-select: none;
      top: 3px;

      input {
        position: relative;
        top: 2px;
      }
    }
  }
}